@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-bg-color: #ffe2f6;
    --text-color: #2B181E;
    --title-color: #a65665;
    --complementary-one: #C8A8B6;
    --complementary-two: #D88084;
    --titulo-font: "Dancing Script", cursive;
    --paragraph-font: "Quicksand", sans-serif
}

* {
    padding: 0;
    margin: 0;

.header {
    background-color: var(--complementary-one);
    padding: 1.5% 0% 1.5% 15%;
}

.header__menu {
    display: flex;
    gap: 80px;
}

.header__link {
    font-family: var(--paragraph-font);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.6rem;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    box-sizing: border-box;
}

h1 {
    color: var(--title-color);
    font-size: 5rem;
}

.titulo_destaque {
    color: var(--complementary-two);
}

.contenido{
    display: flex;
    align-items:center;
    padding: 6% 15%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contenido__presentacion{
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}

.contenido__presentacion__titulo{
    font-size: 4rem;
    font-family: var(--titulo-font);
}
.contenido__presentacion__parrafo{
    font-size: 1.5rem; 
    font-family: var(--paragraph-font);
    font-weight: 500;
}

.buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.buttons__subtitle {
    font-family: var(--titulo-font);
    font-size: 3rem;
    font-weight: 400;
}

.button_style {
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem; 
    font-weight: 600;
    padding: 15px 0;       
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color); 
    font-family: var(--paragraph-font);          
    background-color:var(--complementary-one);
    border: 2px dashed var(--complementary-two);
    gap: 10px;
}

/* changes button colour when the cursor is on */
.button_style:hover {
    background-color: var(--complementary-two);
}

.presentación__imagen {
    width:40%;
    border: 0.5rem solid #D88084;
}

.presentación__imagen2 {
    width: 20%;
    position:absolute; 
    /* Anchor the image to the top edge */
    top:9%;
    /* Anchor the image to the left edge */
    left: 0;
    /*Ensure it stays above other content */
    z-index: 1000;
}

.footer {
    background-color: var(--complementary-one);
    padding: 1.5rem;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
}

/* to adjust page for diferent screen sizes  */  

@media (max-width:1100px) {
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .contenido{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .contenido__presentacion{
        width: auto;
    }
}
 
}